{% extends "./_snippets/base.html" %}

{% block title %} {{context['title']}} - Interface Documentation{% endblock %}

<!-- list file that exitst in folder documents -->
{% block document %}
    {% for  file in context.data %}
        {% if file['type'] == 'folder' %}
            <div class="dropdown">
                <div  class="label">
                    <span>{{file['name']}}</span>
                    <i class="nav-icon bi bi-chevron-down" id="chevrons"></i>
                </div>
                {% if loop.index0 == 0 %}
                    <div class="dropdown-menus show">
                        {% for f in file['file'] %}
                            <a href="/detail/{{file['name']}}/{{f['name']}}?path={{f['path']}}" class="menu-link">{{f['name']}}</a>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="dropdown-menus">
                        {% for f in file['file'] %}
                            <a href="/detail/{{file['name']}}/{{f['name']}}?path={{f['path']}}" class="menu-link">{{f['name']}}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% else %}
            <a href="/detail/file/{{file['name']}}?path={{file['path']}}" class="menu-link">{{ file["name"].split(".")[0] }}</a>
        {% endif %}
    {% endfor %}
{% endblock %}

<!-- table of content for mobile view -->
{% block tableofcontent %}
    {% for headline in context.headline_init %}
        <a href="/" class="sidebar-right-link">{{headline}}</a>
    {% endfor %}
{% endblock %}

<!-- body of the content -->
{% block content %}
    {{context.file_init | safe}}
{% endblock %}

<!-- table of content for descktop ( sidebar right ) -->
{% block tableofcontentdesktop %}
    {% for headline in context.headline_init %}
        <a data_href="#{{headline.lower().replace(' ', '-')}}" class="sidebar-right-link">{{headline}}</a>
    {% endfor %}
{% endblock %}